
$lightblue: #48C1E1;
$medblue: #194384;
$darkblue: #1D365E;

$shadow: 1px 1px 8px rgba(0, 0, 0, 0.63);


#hero {
  z-index: 0;
  width: 100%;
  max-width: 2598px;
}
#union {
  z-index: 5;
  position: fixed;
}

#csg_container {
  display: flex;
  justify-content: center;
  height: 634px;
}

#csg_img {
  max-width: 334px;
  max-height: 382px;
}
#csg_box {
  box-shadow: $shadow;
  display: flex;
  width: 80vw;
  min-width: 800px;
  max-width: 1364px;
  max-height: 428px;
}
// #csg_txt_container {

// }

#countdown_container {
  height: 579px;
  width: 1920px;
  max-width: 2598px;
  background: linear-gradient(70deg, #10213E, #284B80);
}

#time_container {
  display: flex;
  justify-content: space-between;
  width: 80%;
}
.time_cube {
  text-align: center;
  width: 260px;
  height: 260px;
  background-color: #194384;
  box-shadow: $shadow;
}
#time_txt_container {
  display: flex;
  justify-content: space-between;
  width: 80%;
}
.time_txt {
  color: white;
}