@import url(//fonts.googleapis.com/css?family=Open+Sans);

$lightblue: #48C1E1;
$medblue: #194384;
$darkblue: #1D365E;
$breakpoint-main: 1920px; //determin once I have XD working
$box-shadow: 0px 3px 6px #00000059;

// -----  breakpoints  ----- //
$sm-min: 576px;
$md-min: 768px;
$lg-min: 992px;
$xl-min: 1200px;

@mixin sm {
   @media (min-width: #{$sm-min}) {
       @content;
   }
}
@mixin md {
   @media (min-width: #{$md-min}) {
       @content;
   }
}
@mixin lg {
   @media (min-width: #{$lg-min}) {
       @content;
   }
}
@mixin xl {
   @media (min-width: #{$xl-min}) {
       @content;
   }
}


* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
a {
  text-decoration: none;
}
body {
  margin: 0;
}
button {
  margin-top: 12px;
  width: 231px;
  height: 54px;
  color: $darkblue;
  font-family: 'OpenSans-Extrabold';
  text-transform: uppercase;
  border: 2px solid $darkblue;
  background: none;
}
h1, h2, h3, h4, h5 {
  color: white;
  text-transform: uppercase;
  font-family: 'OpenSans-Extrabold';
  &.blue {
    color: $darkblue;
  }
}
h1 {
  margin: 0;
  margin-top: -20px;
  margin-bottom: -25px;
  font-size: 3em;
  @include sm {
    font-size: 4em;
  }
  @include md {
    font-size: 5em;
  }
  @include lg {
    font-size: 6em;
  }
  @include xl {
    font-size: 6.5em;
  }
}
h6 {

}
p{
  font-family: Montserrat-Regular;
  color: $darkblue;
}


#hdr_section {
  left: 50%;
  transform: translate(-50%, 0);
  top: 37px;
  margin: 0 auto;
  z-index: 3;
  position: fixed;
  display: flex;
  align-items: center;
  width: 80vw;
  max-width: 1364px;
  height: 80px;
  background-color: white;
  box-shadow: $box-shadow;
  @include md {
    height: 100px;
  }
  @include xl {
    height: 116px;
  }

  // #hr_container {
  //   background-color: white;
  //   height: 100%;

    #hr {
    top: 0px;
    position: fixed;
    width: 278px;
    height: 5px;
    background-color: #1d365e;
    // margin-bottom: 16px;
    }
  // }
  .hdr {
    padding-right: 3%;
    padding-left: 3%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    .logo {
      // width: 180px;
      @include xl {
        width: auto;
      }
    }
    #hdr_link {
      font-size: 1.1em;
      width: 400px;
    }
  }
}


.hero_section {
  
  .hero_img {
    position: absolute;
    z-index: 0;
    opacity: 0.85;
    width: 100%;
    object-fit: cover;
    height: 85%;
    @include lg {
      height: 1082px;
    }
  }

  .hero_content {
    top: 12vw;
    width: calc(400px + 40%);
    max-width: 1200px;
    // min-height: 600px;
    margin: 0 auto;
    position: relative;
    height: 75vh;
    display: flex;
    align-items: center;
    @include lg {
    height: 741px;

      // height: 90vh;
    }
    .hero_writing {
      position: absolute;
      z-index: 1;
      padding: 80px;
      width: 100%;
      left: 0%;
      font-size: 1em;
      @include md {
        // padding: none;
        width: 65%;
      }
      @include xl {
        left: -8%;

      }
    }

    .svg {
      
      position: absolute;
      display: none;
      @include md {
        display: inline;
      }
    }
  }
}




// #hero_content_container {
//   margin-top: 8%;
//   margin-left: 15%;
//   position: absolute;
//   display: flex;
//   flex-direction: column;
//   // width: 900px;
// }

// #hero_h2 {
//   color: $darkblue;
//   font-family: Montserrat-Regular;
//   font-size:  18px;
//   text-align: left;
// }
// #hero_p {
//   color: $darkblue;
//   font-family: Montserrat-Regular;
//   text-align: left;
// }

// #csg_section {
//   top: 1185px;
//   display: flex;
//   justify-content: center;
//   height: 634px;
// }

// #csg_img {
//   max-width: 334px;
//   max-height: 382px;
// }
// #csg_box {
//   box-shadow: $shadow;
//   display: flex;
//   max-width: 1364px;
//   max-height: 428px;
// }
// // #csg_txt_container {

// // }

// #countdown_section {
//   height: 579px;
//   width: 1920px;
//   max-width: 2598px;
//   background: linear-gradient(70deg, #10213E, #284B80);
// }

// #time_container {
//   display: flex;
//   justify-content: space-between;
//   width: 80%;
// }
// .time_cube {
//   text-align: center;
//   width: 260px;
//   height: 260px;
//   background-color: #194384;
//   box-shadow: $shadow;
// }
// #time_txt_container {
//   display: flex;
//   justify-content: space-between;
//   width: 80%;
// }
// .time_txt {
//   color: white;
// }